/* --------------------------- */
/* ------- VARIABLES --------- */
/* --------------------------- */
/** Couleurs **/
/* ------------------------------ */
/* ------- BALISES HTML --------- */
/* ------------------------------ */
* {
  box-sizing: border-box;
}

h1, h2, h4, p, ul {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #FAF4F2;
  margin: 0;
  font-family: "Archivo";
  color: #3a3a3a;
  font-weight: 500;
}

p {
  line-height: 25px;
}

a {
  color: #3a3a3a;
  font-weight: 500;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

/* ------------------------ */
/* ------- HEADER --------- */
/* ------------------------ */
header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /** Quand le header scroll **/
}
header .item-left {
  display: flex;
  gap: 30px;
}
header .item-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .item-right:after {
  content: "";
  display: contents;
  z-index: 1;
  height: 20px;
  width: 20px;
  background: url(./images/menu.png) no-repeat center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0509803922);
}
header img #logo {
  vertical-align: middle;
}
header div:last-child a {
  color: white;
}
header div:last-child a:last-child {
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px 40px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header.srolling {
  background-color: white;
  color: black;
  z-index: 999;
}
header.srolling nav ul li a {
  color: black;
  text-decoration: none;
}
header.srolling div:last-child a {
  color: black;
  border: 1px solid black;
}
header.srolling a:last-child {
  border: 1px solid black;
}

/* -------------------------- */
/* ------- SECTIONS --------- */
/* -------------------------- */
section {
  /* ------- HOME --------- */
  /* ------- INFORMATION --------- */
  /* ------- ACTIVITES --------- */
  /* ------- CONTACT --------- */
}
section#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(159, 127, 118, 0.1882352941)), url(./images/fond.jpg);
  background-size: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background-position: center;
  text-align: center;
  color: white;
  /* boutton */
}
section#home div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
section#home h1 {
  font-size: 81px;
}
section#home p {
  max-width: 450px;
  margin: 30px 0 0 0;
  font-weight: 300;
}
section#home a {
  background-color: #e77051;
  color: white;
  border-radius: 25px;
  padding: 15px 25px;
  text-decoration: none;
  width: 200px;
}
section#home a:hover {
  background-color: #d02a00;
}
section#information {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -130px;
  width: 100%;
}
section#information .camping-info {
  text-align: center;
  background-color: white;
  padding: 50px 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#information .camping-info > p {
  max-width: 300px;
}
section#information .camping-info h4 {
  margin: 25px 0 15px 0;
}
section#activities {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 30px;
}
section#activities h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  flex-basis: 100%;
}
section#activities h2:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: transparent url("./images/explore.png") 0 0 no-repeat padding-box;
  margin: 0 auto;
  padding-bottom: 15px;
}
section#activities div a {
  border: 1px solid #e77051;
  border-radius: 30px;
  padding: 15px 75px;
  color: #e77051;
  text-decoration: none;
  text-transform: capitalize;
}
section#activities .activity {
  background-color: white;
  padding: 30px 30px;
  border-radius: 15px;
  flex-basis: 20%;
}
section#activities .activity div:last-child {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
section#activities .activity div:last-child > p {
  max-width: 300px;
}
section#activities .activity button {
  background-color: #eee;
  border-radius: 25px;
  padding: 15px 30px;
  border: none;
  text-transform: capitalize;
  color: gray;
  font-weight: bold;
  margin: 15px 75px 0 75px;
}
section#activities .activity .image-container {
  width: 100%;
  height: 180px;
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1921568627), rgba(255, 255, 255, 0.1921568627)), url("./images/nature-1.jpg");
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}
section#activities .activity .image-container img#bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: transform 5s linear;
}
section#activities .activity .image-container:hover img#bg {
  transform: scale(2, 2);
}
section#activities .activity .image-container img {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
}
section#activities .activity .image-container span {
  color: #e77051;
  position: absolute;
  bottom: -10px;
  left: 33%;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
section#activities > div:last-child {
  flex-basis: 100%;
  margin: 40px 0;
}
section#contact {
  background-color: #F8E1DB;
  padding: 15px 4vw 15px 4vw;
  border-radius: 30px;
  display: flex;
  width: 76vw;
  justify-content: space-between;
  gap: 30px;
}
section#contact div {
  width: 100%;
}
section#contact .item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
section#contact .item-left h2 {
  font-size: 40px;
}
section#contact .item-left p {
  margin: 15px 0 30px 0;
  font-weight: 600;
  max-width: 500px;
}
section#contact .item-right {
  background-image: URL("./images/camp.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 300px;
  max-width: 400px;
}
section#contact form {
  position: relative;
}
section#contact form:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 23px;
  left: 25px;
  height: 20px;
  width: 25px;
  background: url(./images/letter.png) no-repeat;
}
section#contact form input[type=text] {
  border: none;
  width: 100%;
  padding: 25px 60px;
  border-radius: 15px;
  position: relative;
}
section#contact form input[type=submit] {
  background: url(./images/send.png);
  border: 0;
  display: block;
  height: 40px;
  width: 40px;
  background-color: #e77051;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  position: absolute;
  top: 12px;
  right: 13px;
  box-shadow: 5px 10px 30px rgba(231, 127, 81, 0.4);
}

/* -------------------------- */
/* ------- FOOTER --------- */
/* -------------------------- */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  background-color: #F8E1DB;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  width: 100%;
  padding: 10vh 12vw 12vh 12vw;
}
footer h4 {
  margin-bottom: 15px;
}
footer h4:last-child {
  margin: 40px 0 15px 0;
}
footer:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: -30px;
  right: 220px;
  height: 20px;
  width: 20px;
  background: url(./images/arrow-up.png) no-repeat center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0509803922);
}
footer:after {
  content: "@2020. All rights reserved.";
  display: block;
}
footer > div {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
}
footer .item-left > div {
  max-width: 630px;
}
footer .item-left > div > p {
  text-align: justify;
}
footer .item-left > div:last-child:after {
  content: "";
  display: block;
  margin-left: -5px;
  height: 50px;
  background: url(./images/reseaux_sociaux.png) no-repeat;
}
footer .item-right {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 30px;
}
footer .item-right div {
  vertical-align: top;
}
footer .item-right div ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .item-right div li {
  list-style: none;
  padding-bottom: 10px;
}
footer .item-right div li a {
  text-decoration: none;
}

/*---------------------------------*/
/* ------- MEDIA QUERIES --------- */
/*---------------------------------*/
/* ------- DESKTOP --------- */
@media (max-width: 1603px) {
  footer > div {
    justify-content: center;
  }
}
@media (max-width: 1250px) {
  header nav {
    display: none;
  }
  header .item-right > a {
    display: none;
  }
  header .item-right:after {
    display: block;
  }
}
/* ------- TABLETTE & MOBILE --------- */
@media (max-width: 760px) {
  footer:before {
    right: initial;
  }
  #information {
    flex-direction: column;
    margin: -220px 0 0 0;
    width: 100%;
    padding: 0 30px;
  }
  #contact {
    flex-direction: column-reverse;
    padding: 0px 30px 30px 30px;
    align-items: center;
  }
  #contact .item-left {
    margin: 0;
  }
  #contact .item-left h2, #contact .item-left p {
    text-align: center;
  }
}
@media (max-width: 635px) {
  footer {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  #contact {
    width: 90vw;
  }
  #activities {
    padding: 0 30px;
  }
  #activities .activity {
    flex-basis: 90vw;
  }
}/*# sourceMappingURL=base.css.map */