
/* --------------------------- */
/* ------- VARIABLES --------- */ 
/* --------------------------- */

/** Couleurs **/
$orange-primary-color : #e77051 ;
$orange-secondary-color : #d02a00;
$white-primary-color : white ;
$white-secondary-color : #FAF4F2;
$white-thirdary-color : #F8E1DB;
$primary-text-color : #3a3a3a;

/* ------------------------------ */
/* ------- BALISES HTML --------- */ 
/* ------------------------------ */

* {
    box-sizing: border-box; // On réadapte la page à 100% de l'écran
}

h1, h2, h4, p, ul{
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: $white-secondary-color;
    margin: 0;
    font-family: 'Archivo';
    color: $primary-text-color;
    font-weight: 500;
}

p {
    line-height: 25px;
}

a {
    color: $primary-text-color;
    font-weight: 500;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

/* ------------------------ */
/* ------- HEADER --------- */ 
/* ------------------------ */

header{
    text-align: center;
    width: 100%;
    position: fixed; 
    top: 0;
    padding: 5vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-left {
        display: flex;
        gap: 30px;
    }

    .item-right {
        display: flex;
        align-items: center;
        gap: 40px;

        &:after {
            content: "";
            display: contents;
            z-index: 1;
            height: 20px;
            width: 20px;
            background: url(./images/menu.png) no-repeat center;
            background-color: #FFF;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px #0000000d;
        }
    }

    img {
        #logo {
            vertical-align: middle;
        }
    }
    
    div:last-child {
        
        a {
            color: $white-primary-color;
        }
        
        a:last-child {
            border: 1px solid $white-primary-color;
            border-radius: 30px;
            padding: 15px 40px
        }
    }
    
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 30px;
            li {
                a {
                    color:$white-primary-color;
                    text-decoration: none;
                }
            }
        }
    }
    
    /** Quand le header scroll **/
    &.srolling {
        background-color: $white-primary-color;
        color:black;
        z-index: 999;
    
        nav {
            ul {
                li {
                    a {
                        color:black;
                        text-decoration: none;
                    }
                }
            }
        }
    
        div:last-child {
            a {
                color: black;
                border: 1px solid black;
            }
        }

        a:last-child{
            border: 1px solid black;
        }
    
    } 
}

/* -------------------------- */
/* ------- SECTIONS --------- */ 
/* -------------------------- */

section {
    /* ------- HOME --------- */ 

    &#home{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110vh;
        width: 100%;
        background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(159, 127, 118, 0.1882352941)), url(./images/fond.jpg);
        background-size: cover;
        border-bottom-left-radius: 200px;
        border-bottom-right-radius: 200px;
        background-position: center;
        text-align: center;
        color: $white-primary-color;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        h1 {
            font-size: 81px;
        }

        p {
            max-width: 450px;
            margin: 30px 0 0 0;
            font-weight: 300;
        }

        /* boutton */ 
        a {
            background-color: $orange-primary-color;
            color: $white-primary-color;
            border-radius: 25px;
            padding: 15px 25px;
            text-decoration: none;
            width: 200px;
        }

        a:hover{
            background-color: $orange-secondary-color;
        }
    }

    /* ------- INFORMATION --------- */ 

    &#information{
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: -130px;
        width: 100%;

        .camping-info{
            text-align: center;
            background-color: white;
            padding: 50px 15px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            &>p {
                max-width: 300px;
            }
    
            h4 {
                margin: 25px 0 15px 0;
            }
        }    
    }

    /* ------- ACTIVITES --------- */ 

    &#activities{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 30px;

        h2{
            padding-top: 50px;
            padding-bottom: 50px;
            flex-basis: 100%;

            &:before{
                content:"";
                display: block;
                width: 90px;
                height: 90px;
                background: transparent url('./images/explore.png') 0 0 no-repeat padding-box;
                margin: 0 auto;
                padding-bottom: 15px;
            }
        }

        div { 

            a{
                border: 1px solid $orange-primary-color;
                border-radius: 30px;
                padding: 15px 75px;
                color:$orange-primary-color;
                text-decoration: none;
                text-transform: capitalize;
            
            }
        }

        .activity{
            background-color: $white-primary-color;
            padding: 30px 30px;
            border-radius: 15px;
            flex-basis: 20%;

            div {
                &:last-child {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;

                    &>p {
                        max-width: 300px;
                    }
                }
            }

            button{
                background-color: #eee;
                border-radius: 25px;
                padding: 15px 30px;
                border: none;
                text-transform: capitalize;
                color: gray;
                font-weight: bold;
                margin: 15px 75px 0 75px;
            }
        
            .image-container{
                width: 100%;
                height: 180px;
                position: relative;
                background-image: linear-gradient(#ffffff31,#ffffff31), 
                    url("./images/nature-1.jpg"); 
                background-size: cover;
                border-radius: 20px;
                margin: 0 auto;
                overflow: hidden;
        
                img#bg{
                    position: absolute;
                    top:0;
                    right:0;
                    width: 100%;
                    height: auto;
                    transition: transform 5s linear; 
                }
        
                &:hover {
                    img#bg{
                        transform: scale(2, 2);
                    }
                }
        
                img{
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    background-color: $white-primary-color;
                    padding: 5px 5px;
                    border-radius: 10px;
                }
        
                span{
                    color: $orange-primary-color;
                    position: absolute;
                    bottom: -10px;
                    left: 33%;
                    background-color: $white-primary-color;
                    padding: 10px 10px;
                    border-radius: 10px;
                }
        
            }
        }

        &>div{
            &:last-child {
                    flex-basis: 100%;
                    margin: 40px 0;
            }
        }

    }

    /* ------- CONTACT --------- */ 

    &#contact {
        background-color: #F8E1DB;
        padding: 15px 4vw 15px 4vw;
        border-radius: 30px;
        display: flex;
        width: 76vw;
        justify-content: space-between;
        gap: 30px;

        div {
            width: 100%;
        }

        .item-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;

            h2 {
                font-size: 40px;
            }

            p {
                margin: 15px 0 30px 0;
                font-weight: 600;
                max-width: 500px;
            }
        }

        .item-right{
            background-image: URL("./images/camp.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            min-height: 300px;
            max-width: 400px;
        }
        form{
            position:relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                z-index: 1;
                top: 23px;
                left: 25px;
                height: 20px;
                width: 25px;
                background: url(./images/letter.png) no-repeat;        
            }

            input {
                &[type="text"]{
                    border: none;
                    width: 100%;
                    padding: 25px 60px;
                    border-radius: 15px;
                    position: relative;
                }
        
                &[type="submit"]{
                    background: url(./images/send.png);
                    border: 0;
                    display: block;
                    height: 40px;
                    width: 40px;
                    background-color: $orange-primary-color;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 15px;
                    position: absolute;
                    top: 12px;
                    right: 13px;
                    box-shadow: 5px 10px 30px #E77F5166;
                }
            }
        }



    }

}

/* -------------------------- */
/* ------- FOOTER --------- */ 
/* -------------------------- */

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    background-color: $white-thirdary-color;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px; 
    width: 100%;
    padding: 10vh 12vw 12vh 12vw;
    // min-height: 300px;

    h4 {
        margin-bottom: 15px;

        &:last-child {
            margin: 40px 0 15px 0;
        }
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        z-index: 1;
        top: -30px;
        right: 220px;
        height: 20px;
        width: 20px;
        background: url(./images/arrow-up.png) no-repeat center;
        background-color: #FFF;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px #0000000d;
    }

    &:after {
        content: "@2020. All rights reserved.";
        display: block;
    }

    &>div {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        flex-flow: wrap;
        width: 100%;


    }

    .item-left {
        &>div {
            max-width: 630px;
            &>p {
                text-align: justify;
            }
        }

        &>div:last-child{
            &:after {
                content: "";
                display: block;
                margin-left: -5px;
                height: 50px;
                background: url(./images/reseaux_sociaux.png) no-repeat;           
            }
       } 
    }

    .item-right {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        gap: 30px;

        div{
            vertical-align: top;        
            ul{
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            li{
                list-style: none;
                padding-bottom: 10px;

                a{
                    text-decoration: none;
                }
            }
        }
    }
}

/*---------------------------------*/
/* ------- MEDIA QUERIES --------- */ 
/*---------------------------------*/

/* ------- DESKTOP --------- */ 

@media (max-width: 1603px) {  
    footer {
        &>div {
            justify-content: center;
        }
    }
}

@media (max-width: 1250px) {
    header {
        nav {
            display: none;
        }

        .item-right {
            &>a{
                display: none;
            }

            &:after {
                display: block;
            }
        }
    }
}

/* ------- TABLETTE & MOBILE --------- */ 

@media (max-width: 760px) { 

    footer {
        &:before {
            right: initial;
        }
    }

    #information {
        flex-direction: column;
        margin: -220px 0 0 0;
        width: 100%;
        padding: 0 30px;
    }

    #contact {
        flex-direction: column-reverse;
        padding: 0px 30px 30px 30px;
        align-items: center;

        .item-left {
            margin: 0;

            h2, p {
                text-align: center;
            }
        }
    }

 }

 @media (max-width: 635px) { 

    footer {
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }

    #contact {
        width: 90vw;
    }

    #activities {
        padding: 0 30px;

        .activity {
            flex-basis: 90vw;
        }
    }

 }